.noData {
	width: 100%;
	margin: 40px 0;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
}

.noData__text {
	margin: 0;
	font-size: var(--title-text-size);
	color: var(--simple-text-color);
	font-weight: bold;
}
